@media (min-width: 1024px){
    div ul li:hover{
        display: inline;
        color: #000;
        background-color: tan;
        position: relative;
        padding: 25px 3vw;
        cursor: pointer;
    }
}
*{
    box-sizing: border-box;
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Begin: header */
#header-menu{
    width: 100%;
    height: 70px;
    background-color: black;
    display: inline-flex;
    top: 0px;
    left: 0px;
    justify-content: center;
    position: fixed;
    z-index: 10;
}

li img{
    width: 160px;
}

div  ul  li{
    display: inline-block;
    color: tan;
    top: 10px;
    position: relative;
    padding: 0px 3vw;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bolder;
}
/* End: header */


/* Begin: Background */
.Background{
    top: 70px;
    width: 100%;
    position: absolute;
    left: 0px;
}
/* End: Background */

/* Begin: Introduce */
#intro{
    width: 70%;
    height: 50vh;
    left: 15vw;
    top: 110vh;
    position: absolute;
    text-align: center;
    font-size: 20px;
}
 /* End: Introduce */

/* Begin: Learn */
#learn img{
    padding: 0px 11vw;
    width: 10vw;
    top: 30Vh;
    position: relative;
    align-content: center;
    justify-content: center;
    
}
/* End: Learn */
#learn{
    width: 100%;
    height: 55vh;
    left: 0px;
    top: 170vh;
    position: absolute;
    background-color: black;
    
}

#learn h2{
    text-align: center;
    width: 100%;
    color: white;
    position: absolute;
}

div table{
    color: black;
    font-size: 1vw;
    width: 30vw;
    height: 10vh;
    background-color: white;
    position: absolute;
    left: 35vw;
    top: 10vh;
}

#school{
    top: 240vh;
    position: relative;
}
#school h1, #school h3, #school p{
    width: 98vw;
    height: 3vh;
    text-align: center;
}
#anhtruong > img{
    top: 270vh;
    width: 100%;
    left: 0px;
    position: absolute;
}

#contact{
    top: 400vh;
    position: absolute;
    width: 98%;
}
#contact h1, #contact h3{
    text-align: center;
}

@media (max-width: 1024px) and (min-width: 740px){  
    div  ul  li{
        display: inline-block;
        color: tan;
        top: 10px;
        position: relative;
        padding: 0px 0.7vw;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: bolder;
    }

    #intro{
        width: 70%;
        height: 30vh;
        left: 15vw;
        top: 40vh;
        position: absolute;
        text-align: center;
        font-size: 25px;
    }
    #learn img{
        padding: 0px 5vw;
        width: 20vw;
        top: 30Vh;
        position: relative;
        align-content: center;
        justify-content: center;
        
    }
    #learn{
        left: 0px;
        top: 100vh;
        position: absolute;
        background-color: black;
    }
    div table{
        color: black;
        font-size: 2vw;
        width: 50vw;
        height: 10vh;
        background-color: white;
        position: absolute;
        left: 25vw;
        top: 10vh;
    }
    #school{
        top: 170vh;
        position: relative;
    }
    #anhtruong > img{
        top: 200vh;
        width: 100%;
        left: 0px;
        position: absolute;
    }
    #contact{
        top: 250vh;
        position: absolute;
        width: 98%;
    }
}
@media (max-width: 720px){
    #header-menu{
        width: 100%;
        height: 350px;
        background-color: black;
        display: inline-flex;
        top: 0px;
        left: 0px;
        position: absolute;
        z-index: 10;
    }
    #header-menu img{
        width: 200px;
        height: 100px;
    }
    #header-menu a li{
        padding: 20px 0px;
    }
    .Background{
        top: 400px;
        width: 100%;
        position: absolute;
        left: 0px;
    }
    #intro{
        width: 70%;
        height: 50vh;
        left: 15vw;
        top: 70vh;
        position: absolute;
        text-align: center;
        font-size: 20px;
    }
    #learn{
        width: 100%;
        height: 50vh;
        left: 0px;
        top: 140vh;
        position: absolute;
        background-color: black;
        
    }
    #learn img{
        padding: 0px 2vw;
        width: 27vw;
        top: 30vh;
        position: relative;
        align-content: center;
        justify-content: center;
        
    }
    div table{
        color: black;
        font-size: 4vw;
        width: 80vw;
        height: 10vh;
        background-color: white;
        position: absolute;
        left: 10vw;
        top: 12vh;
    }
    #school{
        top: 195vh;
        position: relative;
    }
    #anhtruong > img{
        top: 223vh;
        width: 100%;
        left: 0px;
        position: absolute;
    }
    #contact{
        top: 260vh;
        position: absolute;
        width: 98%;
    }
}